@CHARSET "UTF-8";

body {
	background-color: #F6F9FC;
}

/*hide bad links*/
#jump-to-nav,#siteSub,#archnavbar,#footer,#column-one,#catlinks {
	display: none !important;
}

/*this is needed for "Summary" and "Related"  */
table {
	width: 100% !important;
}

li.toclevel-1{
	 padding: 5px;
}

li.toclevel-2{ 
	display: none;
}

#content {
	width: 100% !important;
	background-color: #F6F9FC;
}

h1.firstHeading {/*hide title*/
	display: none;
}

div.printfooter,div.mw-search-formheader {
	display: none;
}

input {
	display: none;
}

/*display toc table */
